* {
    box-sizing: border-box;
}

div {
    padding: 20px;
    margin-bottom: 10px;
    margin: auto;
    color: #EEEEEE;
    max-width: 800px;
    display: flex;
  }

  .ota {
    background-color: #548CA8;
    display: block;
    text-align: center;
  }

  .o-meni {
    background-color: #476072;
  }

  .kitara {
    background-color: #334257;
  }

  .odbojka {
    background-color: #253b58;
  }

  .brat {
    background-color: #2b3742;
    display: block;
    text-align: center;
  }

  .zgodbe {
    background-color: #334257;
  }

  img {
    max-width: 600px;
    padding: 0px;
  }

  p {
    padding-left: 40px;
    
  }
